@model HELMo_bilite.Models.Delivery

@{
    ViewData["Title"] = "Détails commande";
}

<h1>Details</h1>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Details)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadAddress.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnloadingAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnloadingAddress.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnloadingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnloadingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Details)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Status == Delivery.State.Waiting)
    {
        @if (User.IsInRole("dispatcher"))
        {
            <a asp-action="Assign" asp-route-id="@Model.Id">Assigner</a>
        }
        else if (User.IsInRole("client"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Editer</a>
        }
    }

    <a asp-action="Index">Retour à la liste</a>
</div>
