@model IEnumerable<HELMo_bilite.Models.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h1>Commandes</h1>

<p>
    <a asp-action="Create">Créer une nouvelle commande</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnloadingAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnloadingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientDetails)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DriverDetails)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadAddressDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnloadAddressDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnloadingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleDetails)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
