@model HELMo_bilite.Controllers.ViewModels.StatsVM


<h1>Statistique du site</h1>
<hr />
<div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <div class="table-80">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="5" class="rounded-top"><h1 class="text-center">Statistique par Client</h1></th>
                    </tr>
                    <tr>
                        <th scope="col" id="col-companie-client">
                            Nom de la companie
                            <span class="material-icons icon-color-white"></span>
                        </th>
                        <th scope="col" id="col-livraison-tot-client">
                            Nombre de livraison
                        </th>
                        <th scope="col">
                            Nombre de livraison en attente de dispatche
                        </th>
                        <th scope="col">
                            Nombre de livraison en cours
                        </th>
                        <th scope="col">
                            Nombre de livraison terminée
                        </th>
                    </tr>
                </thead>
                <tbody id="tboby-stat-client">
                    @foreach (var item in Model.AllClientStats)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCountTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryWaitingCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <div class="table-80 table-h-100 overflow-auto">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="5" class="rounded-top"><h1 class="text-center">Statistique par date</h1></th>
                    </tr>
                    <tr>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                            nombre de livrasion
                        </th>
                        <th scope="col">
                            nombre de livrasion qui commence commencée
                        </th>
                        <th scope="col">
                            nombre de en cours ce jour la
                        </th>
                        <th scope="col">
                            nombre de ternimer qui doive etre livrer ce jour la
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllDayStats)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryStartCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>
<div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <div class="table-80 table-h-100 overflow-auto">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="5" class="rounded-top"><h1 class="text-center">Statistique par livreur</h1></th>
                    </tr>
                    <tr>
                        <th scope="col" id="col-name-stat-driver" onclick="OnclickStatDriver()">
                            Livreur
                        </th>
                        <th scope="col" onclick="OnclickStatDriver()">
                            nombre de livrasion
                        </th>
                        <th scope="col" onclick="OnclickStatDriver()">
                            nombre de livrasion commencée
                        </th>
                        <th scope="col" onclick="OnclickStatDriver()">
                            nombre de livraison terminée
                        </th>

                    </tr>
                </thead>
                <tbody id="tboby-stat-driver">
                    @foreach (var item in Model.AllDriverStats)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCountTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/statsScript.js"></script>