@model HELMo_bilite.Controllers.ViewModels.StatsVM


<h1 class="text-center">
    Statistiques du site
</h1>
<hr />

<div id="chartjs-bar">
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="table-80">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="5" class="rounded-top"><h1 class="text-center">Statistique par Client</h1></th>
                    </tr>
                    <tr>
                        <th colspan="6" class="rounded-top">Recherche<input type="text" id="cLient-seacrh"></th>
                    </tr>
                    <tr>
                        <th scope="col" id="col-companie-client">

                            Nom de la companie
                        </th>
                        <th scope="col" id="col-livraison-tot-client">
                            Nombre de livraison
                        </th>
                        <th scope="col" id="col-livraison-wait-client">
                            Nombre de livraison en attente de dispatche
                        </th>
                        <th scope="col" id="col-livraison-pross-client">
                            Nombre de livraison en cours
                        </th>
                        <th scope="col" id="col-livraison-end-client">
                            Nombre de livraison terminée
                        </th>
                    </tr>
                </thead>
                <tbody id="tboby-stat-client">
                    @foreach (var item in Model.AllClientStats)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCountTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryWaitingCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="table-80 table-h-100 overflow-auto">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="5" class="rounded-top"><h1 class="text-center">Statistique par date</h1></th>
                    </tr>
                    <tr>
                        <th scope="col" id="col-date">
                            Date
                        </th>
                        <th scope="col" id="col-tot-date">
                            nombre de livrasion
                        </th>
                        <th scope="col" id="col-start-date">
                            nombre de livrasion qui commence commencée
                        </th>
                        <th scope="col" id="col-livraison-pross-date">
                            nombre de en cours ce jour la
                        </th>
                        <th scope="col" id="col-livraison-end-date">
                            nombre de ternimer qui doive etre livrer ce jour la
                        </th>
                    </tr>
                </thead>
                <tbody id="tboby-stat-date">
                    @foreach (var item in Model.AllDayStats)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryStartCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="table-80 table-h-100 overflow-auto">
            <table class="table">
                <thead class="thead-dark table-borderless">
                    <tr>
                        <th colspan="6" class="rounded-top"><h1 class="text-center">Statistique par livreur</h1></th>
                    </tr>
                    <tr>
                        <th colspan="6" class="rounded-top">Recherche<input type="text" id="driver-seacrh"></th>
                    </tr>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col" id="col-mat-stat-driver">
                            Matricule
                        </th>
                        <th scope="col" id="col-name-stat-driver">
                            Livreur
                        </th>
                        <th scope="col" id="col-de-stat-driver">
                            nombre de livrasion
                        </th>
                        <th scope="col" id="col-de-start-stat-driver">
                            nombre de livrasion commencée
                        </th>
                        <th scope="col" id="col-de-end-stat-driver">
                            nombre de livraison terminée
                        </th>

                    </tr>
                </thead>
                <tbody id="tboby-stat-driver">
                    @foreach (var item in Model.AllDriverStats)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="chekbox-driver-stat" data-mat="@item.Matricule">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Matricule)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryCountTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryInProgressCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryTerminedCount)
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
    <div class="col-12 col-lg-6 p-5">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h5 class="card-title">chauffeurs</h5>
                <h6 class="card-subtitle text-muted">Graphique des chauffeurs</h6>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chartjs-line"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


